div,
canvas,
img,
input {
  border: 0;
}

div,
canvas,
img {
  position: absolute;
  display: block;
  margin: 0px;
  padding: 0px;
}

img {
  position: relative;
  display: inline;
}

body {
  margin: 0px;
  padding: 0px;
}

#root,
.container,
.content {
  width: 100%;
  height: 100%;
}

