@import 'Variables.scss';
@import 'Mixins.scss';

#AvatarBox{
    
    width: 100%;
    height: 100%;
    
    font-family: $fontStack;
 
    
    .Avatarbox__message{
    
        width: 0px;
        height: 0px;

        z-index: 1;

        .Avatarbox__message__name,
        .Avatarbox__message__bubble{

            position: absolute;

            font-size: $fontSize--main;

        }

        .Avatarbox__message__name{

            width: 200px;

            top: 28px;

            text-align: center;

            transform: translateX(-68%);
            
            color: $fontColorDark--generic;
            
            .inner{
                padding: 2px;
                background-color: rgba(white, 0.5);
                
                border-radius: $cornerRadius--small;
            }
            
            &.own{

                font-weight: bold;
                color: $fontColorDark--own;

            }

        }

        .Avatarbox__message__bubble{

            @include make-bubble($cornerRadius--big, $bubbleColor--generic, $fontColor, $bubbleBoxShadow, bottom, 12px, 17px, 0px, 0px, auto, 18px, auto, 0px);
            
            display: inline-block;

            min-width: 150px;
            max-width: 275px;

            bottom: 70px;

            padding: 13px;

            transform: translateX(-50%);
            transform-origin: center bottom;

            visibility: hidden;
            
            text-align: justify;
            
            &:after{
                
                margin: 0px auto;
            
            }
            
            &.own{

                background-color: $bubbleColor--own;

                &:after{
                    border-color: $bubbleColor--own transparent transparent transparent;
                }

            }

        }

        .Avatarbox__bubble__inner{

            display: inline-block;

            text-overflow: ellipsis;
            overflow: hidden;

            padding: 0px;
            margin: 0px;

        }

    }
    
}