$primaryColor: #555;
$secondaryColor: #DDD;

$fontColor: aliceblue;

$fontColor--own: #0d5e9f;

$bubbleColor--generic: #787878;
$bubbleColor--own: #0d5e9f;


$fontStack: 'Roboto', sans-serif;

$cornerRadius--small: 3px;
$cornerRadius--med: 5px;
$cornerRadius--big: 10px;
$cornerRadius--huge: 20px;
